{% extends 'layout_admin.html' %}

{% block admin_content %}

<table class="table table-striped table-hover">
    
    <thead>
        <tr>
            <th>Cliente</th>
            <th>Frete</th>
            <th>Total</th>
            <th>Data</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    {% set total = 0 %}
    {% for pedido in pedidos %}
        {% set total = total + pedido.total %}
        <tr>
            <td>{{ pedido.name }} {{ pedido.sobrenome }}</td>
            <td>R$ {{ pedido.pedido_frete | number_format(2, ',', '.') }}</td>
            <td>R$ {{ pedido.total | number_format(2, ',', '.') }}</td>
            <td>{{ pedido.createdAt | date('d/m/Y H:i:s') }}</td>
            <td>
                <button type="button" data-id="{{ pedido.idPedido }}" class="btn btn-xs btn-success btn-listar-pedidos">ver produtos</button>
            </td>
        </tr>
    {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <td colspan="5">Total: R$ {{ total | number_format(2, ',', '.') }}</td>
        </tr>
    </tfoot>

</table>

{% endblock %}