<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="assets/img/apple-icon.png" />
    <link rel="icon" type="image/png" href="assets/img/favicon.png" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{ title }}</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <!-- Bootstrap core CSS     -->
    <link href="{{ site_url() }}/assets/css/admin/bootstrap.min.css" rel="stylesheet" />
    
    <!--  Material Dashboard CSS    -->
    <link href="{{ site_url() }}/assets/css/admin/material-dashboard.css" rel="stylesheet"/>
    
    <!-- CSS for Demo Purpose, don't include it in your project -->
    <!-- <link href="{{ site_url() }}/assets/css/admin/demo.css" rel="stylesheet"/> -->

    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.css"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css">

    <!--     Fonts and icons     -->
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300|Material+Icons' rel='stylesheet' type='text/css'>

</head>

<body>

    <div class="wrapper">
        
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="{{ site_url() }}/assets/img/sidebar-1.jpg">
            <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"
            Tip 2: you can also add an image using data-image tag
            -->
            <div class="logo">
                <a href="/painel" class="simple-text logo-normal">
                    Loja Virtual
                </a>
            </div>

            <div class="sidebar-wrapper">
                {% include 'includes_admin/sidebar.html' %}
            </div>

        </div> <!-- .sidebar END -->

    <div class="main-panel">
        <!-- Navbar -->
        <nav class="navbar navbar-transparent navbar-absolute">
            <div class="container-fluid">

                <div class="navbar-header">

                    <button type="button" class="navbar-toggle" data-toggle="collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="#">
                        Bem Vindo {{ user().name }} {{ user().sobrenome }}
                    </a>

                </div> <!-- .navbar-header END -->
          
                <div class="collapse navbar-collapse">

                    <ul class="nav navbar-nav navbar-right">

                        <li>
                            <a href="/painel" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">dashboard</i>
                                <p class="hidden-lg hidden-md">Dashboard</p>
                            </a>
                        </li>

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="material-icons">person</i>
                                <p class="hidden-lg hidden-md">Notifications</p>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#"><i class="fa fa-cog"></i> Detalhes da conta</a></li>
                                <li><a href="/adminLogin/destroy"><i class="fa fa-sign-out"></i> Logout</a></li>
                            </ul>
                        </li>

                    </ul>

                    <!-- <form class="navbar-form navbar-right" role="search">
                    <div class="form-group is-empty">
                        <input type="text" class="form-control" placeholder="Search...">
                        <span class="material-input"></span>
                    </div>
                    <button type="submit" class="btn btn-white btn-round btn-just-icon">
                        <i class="material-icons">search</i>
                        <div class="ripple-container"></div>
                    </button>
                    </form> -->

                </div> <!-- .navbar-collapse END -->

            </div> <!-- .container-fluid END -->
        </nav> <!-- .navbar END -->

        <div class="content">
            {% block admin_content %}
            {% endblock %}
        </div> <!-- .content END -->

            <footer class="footer">
                {% include 'includes_admin/footer.html' %}
            </footer> <!-- .footer END -->

        </div> <!-- .main-panel END -->

    </div> <!-- .wrapper END -->
  
    <!--   Core JS Files   -->
    <script src="{{ site_url() }}/assets/js/admin/jquery-3.1.0.min.js" type="text/javascript"></script>
    <script src="{{ site_url() }}/assets/js/admin/bootstrap.min.js" type="text/javascript"></script>
    <script src="{{ site_url() }}/assets/js/admin/material.min.js" type="text/javascript"></script>

    <!--  Sweetalert Plugin    -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script> 

    <!--  Charts Plugin -->
    <script src="{{ site_url() }}/assets/js/admin/chartist.min.js"></script>

    <!--  Notifications Plugin    -->
    <script src="{{ site_url() }}/assets/js/admin/bootstrap-notify.js"></script>

    <!--  Google Maps Plugin    -->
    <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>

    <!-- Material Dashboard javascript methods -->
    <script src="{{ site_url() }}/assets/js/admin/material-dashboard.js"></script>

    <!-- Material Dashboard DEMO methods, don't include it in your project! -->
    <!-- <script src="{{ site_url() }}/assets/js/admin/demo.js"></script> -->
    <script src="{{ site_url() }}/assets/js/admin/custom/charts.js"></script>
    <script src="{{ site_url() }}/assets/js/admin/custom/pedidos.js"></script>
    <script src="{{ site_url() }}/assets/js/admin/custom/produtos_promocao.js"></script>
    
    <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
    <!-- <script src="../assets/js/material-dashboard.min.js?v=2.1.0" type="text/javascript"></script> -->

    <!-- <script>
        $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            md.initDashboardPageCharts();

        });
    </script> -->

    <script type="text/javascript">
        $(document).ready(function() {
            // Javascript method's body can be found in assets/js/demos.js
            // demo.initDashboardPageCharts();
            charts.initDashboardPageCharts();
        });
    </script>

</body>
</html>