					<div class="shopping_cart">
						<div class="cart_title">Carrinho de compras</div>
						<div class="cart_details">
							<span id="products_cart">
								<!--número de produtos no carrinho-->
								{{ numeroProdutosCarrinho() | length }}
							</span> produtos <br />
							<span class="border_cart"></span>
							Total: <span class="price" style="font-size:11px;">
										<!--total de compras do carrinho-->
										R$ {{ valorProdutosCarrinho() | number_format(2, ',', '.') }}
								   </span> <br />
								   <a href="/carrinho">ver carrinho</a>
						</div>
						<div class="cart_icon">
							<!--icone do carrinho-->
							<a href="/carrinho" title="header=[Checkout] body=[&nbsp;] fade=[on]">
								<img src="{{ site_url() }}/assets/images/shoppingcart.png" alt="" width="48" height="48" border="0" />
							</a>
						</div>
					</div>

					<div class="title_box">Novidades</div>
					<div class="border_box">
						<div class="product_title">{{ novidade().produto_nome }}</div>
						<div class="product_image">
							<a href="/detalhes/{{ novidade().produto_slug }}">
								<img src="{{ site_url() }}/{{ novidade().produto_foto }}" width="90" height="90" border="0">
							</a>
						</div>
						<div class="prod_price">
							<div class="price">
								{% if(novidade().produto_promocao) == 1 %}
									<span class="reduce" style="margin-right: 2px;">
										R$ {{ novidade().produto_valor | number_format(2,',','.') }}
									</span>
									<span class="price">
										R$ {{ novidade().produto_valor_promocao | number_format(2,',','.') }}
									</span>
								{% else %}
									<span class="price">
										R$ {{ novidade().produto_valor | number_format(2,',','.') }}
									</span>
								{% endif %}
							</div>
						</div>
					</div>

					<div class="title_box">Marcas</div>
					<ul class="left_menu">
					{% set i=0 %}
					{% for marca in marcas() %}

						{% if (i%2 == 0) %} {% set cor = 'even' %} {% else %} {% set cor = 'odd' %} {% endif %}

						<li class="{{ cor }}">
							<a href="/marca/{{ marca.marca_slug }}">{{ marca.marca_nome }}</a>
						</li>

						{% set i = i+1 %}

					{% endfor %}
					</ul>

					<div class="banner_adds">

						<img src="{{ site_url() }}/assets/images/bann1.jpg" alt="" border="0" />
					</div>
