<div class="left_menu_corner"></div>
<ul class="menu">
	<li><a href="/" class="nav1"> Início</a></li>
	<li class="divider"></li>
	<li><a href="/destaques" class="nav3">Destaques</a></li>
	<li class="divider"></li>
	<li><a href="/presentes" class="nav7">Para Presentes</a></li>
	<li class="divider"></li>
	<li><a href="/conta" class="nav6">Minha Conta</a></li>
	<li class="divider"></li>
	<li><a href="/cadastro" class="nav4">Cadastrar</a></li>
	<li class="divider"></li>
	<li><a href="/compras" class="nav5">Minhas Compras</a></li>
	<li class="divider"></li>
	<li><a href="/contato" class="nav6">Contato</a></li>
	<li class="divider"></li>
	<li><a href="/login" class="nav6">Logar</a></li>
</ul>
<div class="right_menu_corner"></div>
