{% extends 'layout.html' %}

{% block site_content %}

<h2 class="center_title_bar">Últimos produtos adicionados</h2>

{% for produto in produtos %}
	<div class="prod_box">
		<div class="top_prod_box"></div>
		<div class="center_prod_box">
			<div class="product_title">
				<a href="/detalhes/{{ produto.produto_slug }}">
					{{ produto.produto_nome }}
				</a>
			</div>

			<div class="product_image" style="text-align: center;">
				<a href="/detalhes/{{ produto.produto_slug }}">
					<img src="{{ site_url() }}/{{ produto.produto_foto }}" alt="foto {{ produto.produto_slug }}" height="90" width="90" />
				</a>
			</div>

			<div class="prod_price" style="text-align: center;">
				{% if (produto.produto_promocao == 1) %}
					<span class="reduce" style="margin-right: 2px;">
						R$ {{ produto.produto_valor | number_format(2,',','.') }}
					</span>
					<span class="price">
						R$ {{ produto.produto_valor_promocao | number_format(2,',','.') }}
					</span>
				{% else %}
					<span class="price">
						R$ {{ produto.produto_valor | number_format(2,',','.') }}
					</span>
				{% endif %}
				<br />

				<!-- estoque do produto -->
				{% if(estoque(produto.id) == 0) %}
					<span style="color: red; font-style: italic; font-size: 12px;">Indisponível</span>
				{% else %}
					Estoque: {{ estoque(produto.id) }}
				{% endif %}
				<br />
				Cliques:
				{{ cliquesProduto(produto.produto_slug) }}

			</div>
		</div>

		<div class="bottom_prod_box"></div>
		<div class="prod_details_tab">
			<a href="#" class="btn-add-carrinho" data-id="{{ produto.id }}" title="header=[Adicionar ao carrinho] body=[&nbsp;] fade=[on]">
				<img src="{{ site_url() }}/assets/images/cart.gif" alt="" border="0" class="left_bt" />
			</a>

			{% if (produto.produto_destaque == 1) %}
				<a href="#" title="header=[Destaque] body=[&nbsp;] fade=[on]">
					<img src="{{ site_url() }}/assets/images/favs.gif" alt="" border="0" class="left_bt" />
				</a>
			{% endif %}

			{% if (produto.produto_presente == 1) %}
				<a href="#" title="header=[Para Presente] body=[&nbsp;] fade=[on]">
					<img src="{{ site_url() }}/assets/images/favorites.gif" alt="" border="0" class="left_bt" />
				</a>
			{% endif %}
		</div>
	</div>
{% endfor %}

<h2 class="center_title_bar">Produtos em promoção</h2>

{% for produtoPromocao in produtosPromocao %}
	<div class="prod_box">
		<div class="top_prod_box"></div>
		<div class="center_prod_box">
			<div class="product_title">
				<a href="/detalhes/{{ produtoPromocao.produto_slug }}">
					{{ produtoPromocao.produto_nome }}
				</a>
			</div>

			<div class="product_img">
				<a href="/detalhes/{{ produtoPromocao.produto_slug }}">
					<img src="{{ site_url() }}/{{ produtoPromocao.produto_foto }}" alt="foto {{ produtoPromocao.produto_slug }}" height="90" width="90" />
				</a>
			</div>

			<div class="prod_price">
				{% if(produtoPromocao.produto_promocao) == 1 %}
					<span class="reduce" style="margin-right: 2px;">
						R$ {{ produtoPromocao.produto_valor | number_format(2,',','.') }}
					</span>
					<span class="price">
						R$ {{ produtoPromocao.produto_valor_promocao | number_format(2,',','.') }}
					</span>
				{% else %}
					<span class="price">
						R$ {{ produtoPromocao.produto_valor | number_format(2,',','.') }}
					</span>
				{% endif %}
				<br />

				<!-- estoque do produto -->
				{% if(estoque(produtoPromocao.id) == 0) %}
					<span style="color: red; font-style: italic; font-size: 12px;">Indisponível</span>
				{% else %}
					Estoque: {{ estoque(produtoPromocao.id) }}
				{% endif %}
				<br />
				Cliques:
				{{ cliquesProduto(produtoPromocao.produto_slug) }}
			</div>

		</div>

		<div class="bottom_prod_box"></div>
		<div class="prod_details_tab">
			<a href="#" class="btn-add-carrinho" data-id="{{ produtoPromocao.id }}" title="header=[Adicionar ao carrinho] body=[&nbsp;] fade=[on]">
				<img src="{{ site_url() }}/assets/images/cart.gif" alt="" border="0" class="left_bt" />
			</a>

			{% if (produtoPromocao.produto_destaque == 1) %}
				<a href="#" title="header=[Destaque] body=[&nbsp;] fade=[on]">
					<img src="{{ site_url() }}/assets/images/favs.gif" alt="" border="0" class="left_bt" />
				</a>
			{% endif %}

			{% if (produtoPromocao.produto_presente == 1) %}
				<a href="#" title="header=[Para Presente] body=[&nbsp;] fade=[on]">
					<img src="{{ site_url() }}/assets/images/favorites.gif" alt="" border="0" class="left_bt" />
				</a>
			{% endif %}
		</div>
	</div>
{% endfor %}

{% endblock %}
