{% extends 'layout.html' %}

{% block site_content %}

<h1 class="center_title_bar">Redefinir Senha</h1><br /><br />

{{ flash('password') | raw }}

<p>Digite a nova senha para acessar o portal:</p><br />

<form action="/password/reset/{{ hash }}" method="POST">

    <div class="ui form">
        <div class="fields">

            <div class="field" style="margin-left: 20px;">
                <input type="password" name="password" placeholder="Password" />
                {{ errorField('password') | raw }}
            </div>

        </div>
    </div>

    <br />
    <button type="submit" class="ui green button">Redefinir</button>

</form>

<div id="message"></div>

{% endblock %}
